<div id="user-image">
  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar, class: "rounded-circle rounded mx-auto d-block", size: "200x200" %>
  <% else %>
    <%= image_tag "profile.png", class: "rounded-circle rounded mx-auto d-block", size: "150x150" %>
  <% end %>
</div>

<div class="text-center">
  <% if @user.profile.name %>
    <h1><%= @user.profile.name %></h1>
  <% else %>
    <h1><%= @user.email %>
  <% end %>

  <div class="mb-3">
    <% if @user == current_user %>
      <%= link_to "Edit Profile", edit_user_profile_path, class: "btn btn-outline-primary" %>
    <% else %>
      <%= render partial: "follows/follow_buttons", locals: { content: @profile } %>
    <% end %>
  </div>
</div>

<div class="container-sm text-center mb-3">
  <div class="row">
    <div class="col">
      <div class="card"> 
        <div class="card-header">Following: <%= @user.followed_users.count %></div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header">Followers: <%= @user.followers.count %></div>
      </div>
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="row mb-3">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Email: </h5>
          <p class="card-text"><%= @user.email %>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="height: 100%">
        <div class="card-body">
          <h5 class="card-title">Birthday: </h5>
          <p class="card-text"><%= @profile.formatted_date %>
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center mb-4">
    <div class="col">
      <div class="card">   
        <div class="card-header ">
          <h3>About</h3>
        </div>
        <div class="card-body"><%= @profile.about %></div>
      </div>
    </div>
  </div>
</div>

<h2 class="text-center">Recent Posts</h2>
<div class="row">
  <div class="col">
    <% @user.posts.order(created_at: :desc).limit(5).each do |post| %>
      <%= render partial: "posts/post_card", locals: { post: post } %>
    <% end %>
  </div>
</div>