<div class="my-auto" style="width: 100%; max-width: 330px; margin: auto">
  <h2>Log in</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="mb-3">
      <%= f.label :email, "Email", class: "d-none" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
    </div>
  
    <div class="mb-3">
      <%= f.label :password, "Password", class: "d-none" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password" %>
    </div>
  
    <% if devise_mapping.rememberable? %>
      <div class="checkbox mb-3">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
  
    <div>
      <%= f.submit "Log in", class: "w-100 btn btn-lg btn-primary" %>
    </div>
  <% end %>
    
    <div class="w-100 btn-lng btn-outline-primary">
      <%= render "devise/shared/links" %>
    </div>
</div>
