
<div>
  <%= @post.body %><br>
  <small>created by: <%= @post.user.email %></small> 
  <%= render partial: "follows/follow_buttons", locals: { content: @post } %>
  <%= render partial: "likes/button", locals: { likeable: @post } %>
</div>

<% if @post.user == current_user %>
  <small><%= link_to 'edit', edit_post_path %> | 
       <%= link_to 'delete', post_path(@post), data: { turbo_method: :delete,
                                            turbo_confirm: 'Are you sure?' } %>
  </small><br>
<% end %>


<%= render partial: "comments/comment_form", locals: { commentable: @post } %>

<div id="comments">
  <%= render partial: "comments/comment", collection: @comments.order(created_at: :desc), as: :nested_comment %>
</div>



